/.vagrant/
/arubacloud.txt
/ubuntu-bionic-18.04-cloudimg-console.log
/web/dev/*.php
/web/dev/wordpress/*.php
/web/dev/wordpress/*.html
/web/dev/wordpress/*.txt
/web/dev/wordpress/wp-admin
/web/dev/wordpress/wp-content/*.php
/web/dev/wordpress/wp-content/*.log
/web/dev/wordpress/wp-content/languages
/web/dev/wordpress/wp-content/plugins/
/web/dev/wordpress/wp-content/themes/bridge/
/web/dev/wordpress/wp-content/themes/twentyfifteen/
/web/dev/wordpress/wp-content/themes/twentysixteen/
/web/dev/wordpress/wp-content/themes/twentyseventeen/
/web/dev/wordpress/wp-content/upgrade/
/web/dev/wordpress/wp-content/uploads/
/web/dev/wordpress/wp-includes/

!/web/dev/wordpress/
!/web/dev/wordpress/wp-content/
!/web/dev/wordpress/wp-content/themes/
!/web/dev/wordpress/wp-content/themes/bridge-child/functions.php